Source: qtcreator-template-deepines-dtk
Section: misc
Priority: optional
Maintainer: Alvaro Samudio <alvarosamudio@criptext.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8

Package: qtcreator-template-deepines-dtk
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: QtCreator template DeepinES for dtk
 Support for creating a dtk gui project in qtcreator by default.